body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.table-container {
    flex: 1;
    margin-right: 20px;
    /* רווח בין הטבלה לדיב */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.details-container {
    flex: 0 0 40%;
    /* גובה דיב של ההצגה */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: none;
}

h2,
h1 {
    text-align: center;
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    color: white;
}

p {
    margin: 0;
}

.CoverImage {
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.detailsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boosErp {
    background-color: #E4E0E1;
    height: 50px;
    color: #3C3D37;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.nav {
    display: flex;
    background-color: #3C3D37;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.navContent {
    color: white;
    margin: 2%;
}

.rate {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blackOpacityDiv {
    z-index: 10;
    height: 100vh;
    background-color: #000000aa;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 2%;
}

.spaceBetween {
    justify-content: space-around;
}

.row_flex {
    display: flex;
    flex-direction: row;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    height: 100%;
}

button:hover {
    background-color: #218838;
}

.button {
    padding: 10px 15px;
    height: auto;
}

.pointer {
    cursor: pointer;
}

.pagentationDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagentation {
    padding: 1%;
    margin: 2%;
}

/* רספונסביות להצדת פרטי הספר */
@media screen and (max-width: 768px) {
    .details-container {
        position: fixed;
        /* כדי שיהיה מעל לשאר התוכן */
        right: -300px;
        /* מתחיל מחוץ למסך */
        width: 300px;
        /* רוחב הכרטיס */
        transition: right 0.5s ease-in-out;
        /* אנימציה לחלק ה-right */
        background-color: white;
        /* צבע הרקע של הכרטיס */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        /* צל */
        z-index: 1000;
        /* ודא שהכרטיס יהיה מעל לתוכן אחר */
    }

    .details-container.show {
        right: 0;
        /* מיקום הסופי */
    }

    h2 {
        font-size: 20px;
    }

    .header {
        margin-bottom: 3%;
    }

    .detailsDiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rate {
        justify-content: flex-start;
    }
}